@keyframes fadeInDown {
	0% {
	    opacity: 0;
	    transform: translateY(20px);
	}
	100% {
	    opacity: 1;
	    transform: translateY(0px);
	}
}
@-webkit-keyframes fadeInDown{
	0% {
	    opacity: 0;
	    transform: translateY(20px);
	}
	100% {
	    opacity: 1;
	    transform: translateY(0px);
	}
}
html,body{
	width: 100%;
	height: 100%;
}

.content{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	/*align-items: flex-start;*/
	height: 100%;
	/*background-color: #c8c8c8;*/
}
header{
	/*background-color: transparent;*/
	height: 40px;
	display: flex;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1;
}
.nav-icon{
	position: absolute;
	height: 40px;
	line-height: 40px;
	left: 20px;
	top: 0px;
	color: white;
	font-size: large;
	cursor: pointer;
	display: none;
}
nav{
	flex: 1;
	/*background-color: #3385FF;*/
	align-self: stretch;
}
nav > ul{
	height: 90%;
    width: 15.7%;
	/*background-color: #3385FF;*/
	align-self: stretch;
	padding-top: 70px;
	position: fixed;
}
nav ul li a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	line-height: 40px;
	color: white;
	padding-left: 30px;
}
nav ul li span{
	margin-left: 10px;
}
nav ul li a:hover{
	background-color: rgba(255,255,255,.3);
}
nav ul li:not(:first-child){
	width: 100%;
	/*border-top: 1px #C8C8C8 solid;*/
}
#users,#admin,#system{
	display: none;
	padding-top: 0px;
}
#users a,#system a{
    padding-left: 40px;
}
#admin li a,#backupAndRestoreNav li a{
	padding-left: 3.5em;
}
article{
	flex: 5.4;
	margin: 40px 10px 0px auto;
	background-color: rgba(255,255,255,1);
	word-break: break-all;
	border-radius: 6px 6px 0 0;
	padding: 5% 0px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: relative;
	overflow-y: auto;
	flex-flow: row wrap;
}
article .users-table{
	align-self: baseline;
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-flow: row wrap; 
	padding-bottom: 20px;
	animation: fadeInDown 500ms;
	-webkit-animation: fadeInDown 500ms;
}
.users-table .username,.users-table .password,.users-table .operation{
	flex: 2 33%;
	padding: 10px 0;
	text-align: left;
	text-indent: 4em;
}
.users-table .user,.users-table .psw,.users-table .operate{
	flex: 2 33%;
	text-align: left;
	text-indent: 4em;
	padding: 10px 0;
	border-top: 1px #EEEEEE solid;
}
.operate .btn{
	margin-left: 0px !important;
}
.users-table form{
	margin: 0px auto;
}
.users-table .row-form{
    display: flex;
    flex: 1 1 100%;
}
@keyframes error{
	0%,100%{transform: translateX(0px);}
	10%,30%,50%,70%,90%{transform: translateX(10px);}
	20%,40%,60%,80%{transform: translateX(-10px);}
}
@-webkit-keyframes error{
	0%,100%{transform: translateX(0px);}
	10%,30%,50%,70%,90%{transform: translateX(10px);}
	20%,40%,60%,80%{transform: translateX(-10px);}
}
.login form{
	width: 30%;
	margin: 3% auto;
	padding: 5%;
	border: 1px white solid;
	border-radius: 6px;
	box-shadow: 0 0 6px lightskyblue;
	background-color: rgba(200,200,200,.3);
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	animation: form1 1000ms;
}
.label{
	width: 100%;
	text-align: center;
	position: relative;
}
.label label,.label input,.code,p{
	flex: 1;
}
p{
	color: red;
}
.label input{
	width: 50%;
	border: 1px #C8C8C8 solid;
	border-radius: 6px;
	height: 30px;
	line-height: 30px;
	margin: 10px;
	padding: 0px 5px;
	margin-left: 18%;
}
.add-admin{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
}
.add-admin > .label{
    margin-bottom: 10px;
}
.add-admin > .left,.add-admin > .right{
	display: flex;
	flex: 1 50%;
	justify-content: center;
	flex-flow: row wrap;
}
.add-admin > .left{
	justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
}
.add-admin > .right{
	justify-content: flex-start;
}
.add-admin > .left > label{
	display: flex;
	flex: 1 100%;
	justify-content: center;
	height: 30px;
	line-height: 35px;
	margin-bottom: 10px;
}
.add-admin > .right > input,.add-admin > .right > .list{
	display: flex;
	flex: 1 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	flex-flow: row wrap;
}
.add-admin > .right > input{
	height: 30px;
	line-height: 30px;
	border: 1px #c8c8c8 solid;
	border-radius: 6px;
	margin-bottom: 15px;
}
.add-admin > .right > input:focus{
	box-shadow: 0 0 6px deepskyblue;
}
.add-admin > .right > .list > label{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	flex: 1 50%;
}
.right{
	position: relative;
}
#tip5::before,#tip6::before{
	content: "";
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent;
	border-right-color: red;
	line-height: 30px;
	position: absolute;
	top: 15%;
	left: -18px;
}
#tip5{
	width: 135px;
	background-color: red;
	position: absolute;
	height: 30px;
	line-height: 30px;
	right: -160px;
	border-radius: 6px;
	padding: 0 5px;
	color: white;
	box-shadow: 1px 1px 6px black;
	display: none;
}
#tip6{
	width: 135px;
	background-color: red;
	position: absolute;
	height: 30px;
	line-height: 30px;
	right: -160px;
	border-radius: 6px;
	padding: 0 5px;
	color: white;
	box-shadow: 1px 1px 6px black;
	top: 45px;
	display: none;
}
.label input:focus{
	box-shadow: 0 0 3px cornflowerblue;
}

#tip1::before,#tip2::before,#tip3::before,#tip4::before{
	content: "";
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent;
	border-right-color: red;
	line-height: 30px;
	position: absolute;
	top: 15%;
	left: -18px;
}
#tip1,#tip2,#tip3,#tip4{
	width: 135px;
	background-color: red;
	position: absolute;
	height: 30px;
	line-height: 30px;
	margin-top: 3%;
	margin-left: 5px;
	border-radius: 6px;
	padding: 0 5px;
	color: white;
	box-shadow: 1px 1px 6px black;
	display: none;
}
@keyframes tip{
	from{opacity: 0;-webkit-opacity: 0;}
	to{opacity: 1;-webkit-opacity: 1;}
}
@-webkit-keyframes tip{
	from{opacity: 0;-webkit-opacity: 0;}
	to{opacity: 1;-webkit-opacity: 1;}
}
@keyframes notip{
	from{opacity: 1;-webkit-opacity: 1;}
	to{opacity: 0;-webkit-opacity: 0;}
}
@-webkit-keyframes notip{
	from{opacity: 1;-webkit-opacity: 1;}
	to{opacity: 0;-webkit-opacity: 0;}
}
.btn{
	width: 20% !important;
	margin-left: 10% !important;
}

.art-tr{
	flex: 2 25%;
	padding: 10px 0;
	text-align: center;
}
.art{
	flex: 2 25%;
	padding: 10px 0;
	text-align: center;
	border-top: 1px #EEEEEE solid;
}
.per-tr{
	flex: 2 33%;
	padding: 10px 0;
	text-align: center;
}
.permission{
    align-items: center;
    border-top: 1px solid #eeeeee;
    display: flex;
    flex: 2 1 33%;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
}
.add-label{
	flex: 1 100%;
	display: flex;
}
.add-label label{
    flex: 1;
    display: flex;
    padding-left: 11.5%;
}
.add-permission{
	flex: 1 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
.add-permission label{
    align-items: center;
    display: flex;
    flex: 1 1 20%;
    margin-bottom: 10px;
    padding-left: 6%;
}
.per{
	flex: 2 33%;
	padding: 10px 0;
	border: none;
	background-color: transparent;
	text-align: center;
	border-top: 1px #EEEEEE solid;
	display: flex;
	justify-content: center;
}
.per a{
	height: 20px !important;
	max-width: 50%;
}
.label .btn{
	min-height: 30px;
}
.page{
	display: flex;
	padding-bottom: 6%;
	flex: 0 100%;
	justify-content: center;
	align-content: center;
	padding-right: 15%;
}
.page a{
	color: white;
	border-radius: 3px;
	width: 30px;
	text-align: center;
	margin: 0 5px;
	padding: 2px;
	background-color: cornflowerblue;
}
.page a:hover{
	background-color: dodgerblue;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 20px;
}
.loginOut{
	position: fixed;
	line-height: 40px;
	top: 0px;
	right: 20px;
	color: white;
	text-shadow: 0 0 6px black;
}
.welcome{
	position: fixed;
	top: 0px;
	line-height: 40px;
	right: 80px;
	color: white;
	text-shadow: 0 0 6px black;
}
.backup,.do-backup{
	flex: 2 33%;
	padding: 10px 0;
	text-align: left;
	color: black;
}
.label select{
	border: 1px #C8C8C8 solid;
	border-radius: 6px;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
}
.backup~input{
	min-width: 80px;
}
.restore-title{
	background-color: #f5f5f5;
    border-top: 1px solid #c8c8c8;
    height: 40px;
    line-height: 40px;
    text-indent: 3em;
}
#restoreForm{
	flex: 1;
}
#restoreForm .label{
	width: 84%;
}
.backup-btn {
    padding: 6px 5%;
    margin-left: 10px !important;
}
.restore-btn{
	margin-left: 10px !important;
    max-width: 14%;
    min-width: 45px;
}
@media only screen and (max-width: 540px) {
	.login form,.add-admin{
		width: 80%;
	}
	.add-admin > .left{
		display: flex;
		flex: 1 30%;
		justify-content: center;
		flex-flow: row wrap;
	}
	.add-admin > .right{
		display: flex;
		flex: 1 70%;
		justify-content: center;
		flex-flow: row wrap;
	}
	.btn{
		width: 60% !important;
	}	
	#tip1::before,#tip2::before,#tip3::before{
		border: 6px solid;
		border-color: transparent;
		border-right-color: none;
		border-top-color: red;
		top: 20px;
		left: 43%;
	}
	#tip1,#tip2,#tip3{
		background-color: red;
		height: 20px;
		line-height: 20px;
		top: -18px;
		left: 25%;
	}	
	#tip5::before,#tip6::before{
		border: 6px solid;
		border-color: transparent;
		border-right-color: none;
		border-top-color: red;
		top: 20px;
		left: 45%;
	}
	#tip5{
		background-color: red;
		height: 20px;
		line-height: 20px;
		top: -18px;
		left: 0px;
	}
	#tip6{
		background-color: red;
		height: 20px;
		line-height: 20px;
		top: 25px;
		left: 0px;
	}
	.add-admin > .right > input,.add-admin > .right > .list{
		flex-flow: column wrap;
		align-items: flex-start;
		justify-content: center;
	}
	.add-admin > .right > .list > label{
		flex: initial;
	}
	.loginOut{
		display: none;
	}
	.backup-btn{
		display: inline-block;
		line-height: 30px !important;
	    margin-left: 7% !important;
	    padding: 0;
	    margin-bottom: 10px;
	}
}
/*@media only screen and (min-width: 541px) and (max-width: 640px) {
	.login form{
		width: 70%;
	}
	.btn{
		width: 60% !important;
	}
}*/

/*@media only screen and (min-width: 641px) and (max-width: 1011px) {
	.login form{
		width: 60%;
	}
	.btn{
		width: 60% !important;
	}
}*/

@media only screen and (min-width: 0px) and (max-width: 800px) {
	.nav-icon{
		display: block;
	}
	.loginOut{
		display: none;
	}
	.welcome{
		right: 20px;
	}
	.open-nav-header{
		animation: open-nav-header 90ms;
		-webkit-animation: open-nav-header 90ms;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
	.close-nav-header{
		animation: close-nav-header 90ms;
		-webkit-animation: close-nav-header 90ms;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
	nav{
		margin-left: -60%;
		flex: 1 40%;
	}
	nav ul{
		width: 50%;
	}
	nav ul li ul{
		width: 100%;
	}
	.open-nav{
		animation: open-nav 90ms;
		-webkit-animation: open-nav 90ms;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
	.close-nav{
		animation: close-nav 90ms;
		-webkit-animation: close-nav 90ms;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
	nav ul li a:hover{
		background-color: transparent;
	}
	article{
		box-shadow: none;
		margin: 40px auto 20px;
	}
	.users-table .username,.users-table .password,.users-table .operation{
		text-align: center;
		text-indent: 0em;
	}
	.users-table .user,.users-table .psw,.users-table .operate{
		text-align: center;
		text-indent: 0em;
	}
	.open-nav-article{
		/*animation: open-nav-article 200ms;
		-webkit-animation: open-nav-article 200ms;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;*/
	}
	.close-nav-article{
		/*animation: close-nav-article 200ms;
		-webkit-animation: close-nav-article 200ms;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;*/
	}
	.operate,.art,.per,.do-backup{
		flex-direction: column;
		display: flex;
	}
	.operate a,.art a,.per a{
		align-self: center;
	}
	.operate a:not(:first-child),.art a:not(:first-child),.per a:not(:first-child){
		margin-top: 5px;
	}
	.permission label{
	    flex: 1 1 100%;
	}
	.per{
		align-items: center;
	}
	.per .btn{
		max-height: 30px;
	}
	.per a{
		height: 20px !important;
		max-width: 50%;
	}
	.page{
		padding-right: 0;
	}
	
	.add-label label{
	    flex: 1;
	    display: flex;
	    padding-left: 3%;
	    align-items: center;
	}
	.add-permission{
		flex-flow: column;
	}
	.add-permission label{
	    flex: 1 33%;
	    margin: 10px;
	}
	.btn{
		max-height: 20px;
	}
	.btn-large{
		min-width: 100%;
	}
	.backup-btn{
		display: inline-block;
		line-height: 30px !important;
	    margin-left: 7% !important;
	    padding: 0;
	    position: relative;
    		top: 9px;
	}
	.restore-btn{
		margin-left: 10% !important;
	    max-width: 100% !important;
	    min-width: 45px;
	}
	#restoreForm .label{
		width: 100%;
	}
}
@keyframes open-nav{
	0%{
		margin-left: -60%;
	}
	100%{
		margin-left: 0;
	}
}
@-webkit-keyframes open-nav{
	0%{
		margin-left: -60%;
	}
	100%{
		margin-left: 0;
	}
}
@keyframes close-nav{
	0%{
		margin-left: 0;
	}
	100%{
		margin-left: -60%;
	}
}
@-webkit-keyframes close-nav{
	0%{
		margin-left: 0;
	}
	100%{
		
		margin-left: -60%;
	}
}
@keyframes open-nav-header{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(50%);
	}
}
@-webkit-keyframes open-nav-header{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(50%);
	}
}
@keyframes close-nav-header{
	0%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}
@-webkit-keyframes close-nav-header{
	0%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}