
body{
	background: url("../img/login-bg.jpg") center center no-repeat fixed;
	background-size: cover;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	padding-top: 10%;
	
}
@keyframes form1{
	from{margin-top: 0%;opacity: 0;-webkit-opacity: 0;}
	to{margin-top: 3%;opacity: 1;-webkit-opacity: 1;}
}
@-webkit-keyframes form1{
	from{margin-top: 0%;-webkit-opacity: 0;}
	to{margin-top: 3%;-webkit-opacity: 1;}
}
@keyframes error{
	0%,100%{transform: translateX(0px);}
	10%,30%,50%,70%,90%{transform: translateX(10px);}
	20%,40%,60%,80%{transform: translateX(-10px);}
}
@-webkit-keyframes error{
	0%,100%{transform: translateX(0px);}
	10%,30%,50%,70%,90%{transform: translateX(10px);}
	20%,40%,60%,80%{transform: translateX(-10px);}
}
.login form{
	width: 30%;
	margin: 3% auto;
	padding: 5%;
	border: 1px white solid;
	border-radius: 6px;
	box-shadow: 0 0 6px lightskyblue;
	background-color: rgba(200,200,200,.3);
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	animation: form1 1000ms;
	-webkit-animation: form1 1000ms;
}
.label{
	width: 100%;
	text-align: center;
	position: relative;
}
.label label,.label input,.code,p{
	flex: 1;
}
p{
	color: red;
}
.icon-user,.icon-lock,.icon-key{
	width: 10% !important;
	height: 30px !important;
	line-height: 30px !important;
	text-align: center;
	top: 20%;
	left: 20%;
	position: absolute;
	display: inline-block !important;
	border: 1px white solid;
	background-color: transparent;
	color: white;
	border-radius: 6px 0 0 6px;
}
.label input{
	width: 50%;
	border: 1px white solid;
	border-radius: 0 6px 6px 0;
	height: 30px;
	line-height: 30px;
	margin: 10px;
	padding: 0px 5px;
	margin-left: 18%;
}
.label input:focus{
	box-shadow: 0 0 3px cornflowerblue;
}

.label img{
	height: 30px;
	margin-right: 5px;
	flex: 2;
	width: 25%;
}
#tip1::before,#tip2::before,#tip3::before{
	content: "";
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent;
	border-right-color: red;
	line-height: 30px;
	position: absolute;
	top: 15%;
	left: -18px;
}
#tip1,#tip2,#tip3{
	width: 135px;
	background-color: red;
	position: absolute;
	height: 30px;
	line-height: 30px;
	margin-top: 3%;
	margin-left: 5px;
	border-radius: 6px;
	padding: 0 5px;
	color: white;
	box-shadow: 1px 1px 6px black;
	display: none;
}
@keyframes tip{
	from{opacity: 0;-webkit-opacity: 0;}
	to{opacity: 1;-webkit-opacity: 1;}
}
@-webkit-keyframes tip{
	from{opacity: 0;-webkit-opacity: 0;}
	to{opacity: 1;-webkit-opacity: 1;}
}
@keyframes notip{
	from{opacity: 1;-webkit-opacity: 1;}
	to{opacity: 0;-webkit-opacity: 0;}
}
@-webkit-keyframes notip{
	from{opacity: 1;-webkit-opacity: 1;}
	to{opacity: 0;-webkit-opacity: 0;}
}
#codeBox input{
	width: 25%;
	flex: 1;
	margin-right: 0px;
}
#codeBox img{
	flex: 1;
	vertical-align: middle;
	margin-bottom: 2%;
}
.btn{
	width: 20% !important;
	margin-left: 10% !important;
}

@media only screen and (max-width: 540px) {
	.login form{
		width: 80%;
	}
	#codeBox img{
		margin-bottom: 0%;
	}
	.btn{
		width: 60% !important;
	}	
	#tip1::before,#tip2::before,#tip3::before{
		border: 6px solid;
		border-color: transparent;
		border-right-color: none;
		border-top-color: red;
		top: 20px;
		left: 43%;
	}
	#tip1,#tip2,#tip3{
		background-color: red;
		height: 20px;
		line-height: 20px;
		top: -18px;
		left: 25%;
	}
}
@media only screen and (min-width: 400px) and (max-width: 540px) {
	.icon-user,.icon-lock,.icon-key{
		left: 21%;
	}
}
@media only screen and (min-width: 541px) and (max-width: 640px) {
	.login form{
		width: 70%;
	}
	.icon-user,.icon-lock,.icon-key{
		left: 22%;
	}
	.btn{
		width: 60% !important;
	}
}
@media only screen and (min-width: 641px) and (max-width: 1011px) {
	.login form{
		width: 60%;
	}
	.icon-user,.icon-lock,.icon-key{
		left: 22%;
	}
	.btn{
		width: 60% !important;
	}
}
@media only screen and (min-width: 1012px) {
	.icon-user,.icon-lock,.icon-key{
		left: 21%;
	}
}