/*css reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}
body,
button, input, select, textarea /* for ie */ {
  font: 14px tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */
ul, ol { list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
table { border-collapse: collapse; border-spacing: 0; }

body{
	background: url("http://tu.ihuan.me/api/bing/go") center center no-repeat fixed;
	background-size: cover;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	padding-top: 10%;
	
}

.login form{
	width: 30%;
	margin: 3% auto;
	padding: 5%;
	border: 1px white solid;
	border-radius: 6px;
	box-shadow: 0 0 6px lightskyblue;
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.label{
	width: 100%;
	text-align: center;
	position: relative;
}
.label label,.label input,.code,p{
	flex: 1;
}
p{
	color: red;
}
.icon-user,.icon-lock,.icon-key{
	width: 10% !important;
	height: 30px !important;
	line-height: 30px !important;
	text-align: center;
	top: 20%;
	left: 20%;
	position: absolute;
	display: inline-block !important;
	border: 1px white solid;
	background-color: transparent;
	color: white;
	border-radius: 6px 0 0 6px;
}
.label input{
	width: 50%;
	border: 1px white solid;
	border-radius: 0 6px 6px 0;
	height: 30px;
	line-height: 30px;
	margin: 10px;
	padding: 0px 5px;
	margin-left: 18%;
}
.label input:focus{
	box-shadow: 0 0 3px cornflowerblue;
}

.label img{
	height: 30px;
	margin-right: 5px;
	flex: 2;
	width: 25%;
}
#tip1::before,#tip2::before,#tip3::before{
	content: "";
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent;
	border-right-color: red;
	line-height: 30px;
	position: absolute;
	top: 15%;
	left: -18px;
}
#tip1,#tip2,#tip3{
	width: 135px;
	background-color: red;
	position: absolute;
	height: 30px;
	line-height: 30px;
	margin-top: 3%;
	margin-left: 5px;
	border-radius: 6px;
	padding: 0 5px;
	color: white;
	box-shadow: 1px 1px 6px black;
	display: none;
}
@keyframes tip{
	from{opacity: 0;}
	to{opacity: 1;}
}
@-webkit-keyframes tip{
	from{opacity: 0;}
	to{opacity: 1;}
}
@-moz-keyframes tip{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes notip{
	from{opacity: 1;}
	to{opacity: 0;}
}
@-webkit-keyframes notip{
	from{opacity: 1;}
	to{opacity: 0;}
}
@-moz-keyframes notip{
	from{opacity: 1;}
	to{opacity: 0;}
}
#codeBox input{
	width: 25%;
	flex: 1;
	margin-right: 0px;
}
#codeBox img{
	flex: 1;
	vertical-align: middle;
	margin-bottom: 2%;
}
.btn{
	width: 20% !important;
	height: 30px !important;
  line-height: 20px !important;
	border-radius: 6px !important;
	color: white;
	border: none !important;
	margin-left: 10% !important;
}

.btn-green{
	background-color: greenyellow;
}
.btn-green:active{
	background-color: darkgreen;
}
.btn-red{
	background-color: red;
}
.btn-red:active{
	background-color: darkred;
}


@media only screen and (max-width: 540px) {
	.login form{
		width: 80%;
	}
	#codeBox img{
		margin-bottom: 0%;
	}
	.btn{
		width: 60% !important;
	}
}
@media only screen and (min-width: 400px) and (max-width: 540px) {
	.icon-user,.icon-lock,.icon-key{
		left: 21%;
	}
}
@media only screen and (min-width: 541px) and (max-width: 640px) {
	.login form{
		width: 70%;
	}
	.icon-user,.icon-lock,.icon-key{
		left: 22%;
	}
	.btn{
		width: 60% !important;
	}
}
@media only screen and (min-width: 641px) and (max-width: 1011px) {
	.login form{
		width: 60%;
	}
	.icon-user,.icon-lock,.icon-key{
		left: 22%;
	}
	.btn{
		width: 60% !important;
	}
}
@media only screen and (min-width: 1012px) {
	.icon-user,.icon-lock,.icon-key{
		left: 21%;
	}
}